@import "tailwindcss";
#root {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@layer components {
  .nav-btn {
    @apply px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-600 text-white transition font-medium w-full text-left;
  }

  .highlight-nav-btn {
    @apply px-4 py-2 rounded-lg bg-amber-800 hover:bg-amber-600 text-white transition font-medium w-full text-left;
  }

  .sim-btn {
    @apply outline bg-amber-400 rounded-lg hover:bg-amber-300 text-black font-medium text-center p-2;
  }

  .panel-bg {
    @apply bg-gray-800 rounded-md overflow-hidden;
  }

  .panel-header {
    @apply text-center text-lg bg-gray-700 font-bold;
  }

  .section-header {
    @apply text-2xl font-bold
  }

  .doc-section{
    @apply text-2xl font-bold mb-2 mt-2
  }

  .custom-table {
    @apply mt-6 min-w-full table-auto border-collapse border border-gray-400
  }

  .cell {
    @apply border border-gray-400 px-2 py-1 text-left;
  }

  .header-cell {
    @apply border border-gray-400 px-2 py-1 text-left;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
